.editUserModal {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 800px;
  margin: auto;
  padding: 2.5rem 2rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  align-items: center;
  justify-content: center;
}

.editUserModal h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  color: black;

}

.editUserModal label {
  color: black;
  margin-top: 2rem;
}

.editUserModal input, 
.editUserModal textarea
{
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.editUserModal input:focus, 
.editUserModal textarea:focus
{
  outline: none;
  border-color: #550000;
}

.editUserModal textarea {
  resize: vertical;
  min-height: 80px;
}

.editUserModal button[type="submit"] {
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: #9c102d;
  color: #f9f3ed;
  border: 1px solid #9c102d;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  border-radius: 9999px;
}

.editUserModal button[type="submit"]:hover {
  background-color: #550000;
  border-color: #550000;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.error{
    color: red;
}