.signInComponent img {
  height: 60px;
  width: auto;
}

html, body {
  width: 100%;
  background-color: #f9f3ed;
}

form {
  background-color: #550000;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  gap: 20px;   
  width: 300px;      
  height: 400px; 
  margin: 150px auto; 
  padding: 60px;    
  color: white;
}

.emailContainer,
.passwordContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.emailContainer label,
.passwordContainer label {
  font-weight: bold;
  text-align: left;
}

.emailContainer input,
.passwordContainer input {
  width: 95%;
  padding: 0.6rem;
  background-color: white;
  color: black;
  border-radius: 2px;
  border-color: white;
}

.loginButtonContainer {
  text-align: center;
}

.loginButtonContainer button {
  width: 95%;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.loginButtonContainer button:hover {
  background-color: #d3d3d3;
}
