/* Color palette
Primary Colors
- #550000
- #f9f3ed

Secondary Colors
- White (#ffffff)
- #d3d3d3
- #440000
*/

#root {
  font-family: Helvetica, Arial, sans-serif !important;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #F8F9FA;
  padding-top: 100px
}