:root {
  font-family: Helvetica, Arial, sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F8F9FA;
  color: black;
  max-width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif !important;
  color: black;
  margin: 0;
  padding: 1rem;
  background: #F8F9FA;
}

h1, h2, h3 {
  margin: 0;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}