#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.signInComponent img {
  height: 60px;
  width: auto;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #f9f3ed;
}

form {
  background-color: #550000;
  display: flex;
  flex-direction: column; 
  gap: 1rem;   
  width: 300px;      
  min-height: 400px; 
  margin: 150px auto; 
  padding: 2rem;    
  color: white;
  padding-top: 0%;
}

footer {
  color: #550000;
}

.emailContainer,
.passwordContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.emailContainer label,
.passwordContainer label {
  font-weight: bold;
  text-align: left;
}

.emailContainer input,
.passwordContainer input {
  width: 95%;
  padding: 0.6rem;
  background-color: white;
  color: white;
  border-radius: 2px;
  border-color: white;
}

.loginButtonContainer {
  text-align: center;
}

.loginButtonContainer button {
  width: 95%;
  border: none;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.loginButtonContainer button:hover {
  background-color: #333;
}

