.product {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  gap: 2rem;
  padding: 2rem;
  background-color: #fff;
}

.productImageBox {
  width: 500px;
  height: 600px;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(.5, .5, .5, .5);
}

.productImageBox img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.productInfoContainer {
  width: 500px;
  height: 600px;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 2px 5px rgba(.5, .5, .5, .5);
}

.productInfoContainer p {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px solid #9c102d;
  line-height: 2;
}

.productInfoContainer h3 {
  color: #767676;
}

.messageButton {
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: #9c102d;
  color: #f9f3ed;
  border: 1px solid #9c102d;
  border-radius: 8px;
  cursor: pointer;
  margin-top: auto;
  transition: all 0.3s ease-in-out;
}

.messageButton:hover {
  background-color: #550000;
  border-color: #550000;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.ModalBackground {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.ModalForm {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(238, 238, 238, 0.10);
  max-width: 600px;
  width: 70%;
  height: 100%;
  text-align: center;
  z-index: 9999;
}

.ModalClose {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  color: black;
}