.userInfo img {
    height: 200px;
    width: auto;
}

.userProducts ul {
  list-style: none;      
  display: flex;          
  justify-content: flex-start;
  gap: 20px;   
  padding: 20px;                       
}

.userInfo {
  display: flex;
  align-items: center;           
  padding: 20px; 
  border-bottom: 2px solid #550000; 
}

.userWishlist {
  border-left: 2px solid #550000;  
}

.userText {
  display: flex;
  flex-direction: column; 
}

.userContent {
  display: flex;
  justify-content: space-between;       
  gap: 20px;                     
  padding: 20px;
}

.editProfile {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #550000;
  color: white;
}

.userWishlist ul {
  list-style: none;      
  display: grid;          
  grid-template-columns: repeat(3, 1fr); /*https://stackoverflow.com/questions/48665316/how-to-create-a-css-grid-with-3-columns-and-unlimited-amount-of-items*/
  gap: 20px;   
  padding: 20px;                       
}