.userInfo img {
  height: 200px;
  width: auto;
}

.userProducts ul {
  list-style: none;      
  display: flex;          
  justify-content: flex-start;
  gap: 20px;   
  padding: 20px;                       
}

.userInfo {
  display: flex;
  align-items: center;           
  padding: 20px; 
  border-bottom: 2px solid #9c102d; 
}

.userWishlist {
  height: 400px;
  display: flex;
  flex-direction: column;
}

.userProducts {
  border-right: 2px solid #9c102d;
  padding: 20px;
  padding-right: 5%;
}

.userText {
  display: flex;
  flex-direction: column; 
}

.userContent {
  display: flex;
  justify-content: space-between;       
  gap: 20px;                     
  padding: 20px;
}

.editProfile {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #9c102d;
  color: white;
}

.userWishlist ul {
  list-style: none;      
  display: grid;          
  grid-template-columns: repeat(3, 1fr); /*https://stackoverflow.com/questions/48665316/how-to-create-a-css-grid-with-3-columns-and-unlimited-amount-of-items*/ 
  gap: 20px;   
  padding: 20px;   
  min-height: 300px;                    
}

main {
  margin-top: 120px; 
}

.userProducts, .userWishlist {
  flex: 1;
  min-height: 450px;
}

/*https://blog.mathieu-leplatre.info/placeholder-for-empty-lists-in-css.html*/
.wishlistProducts:empty::after { 
  content: "No Items Available";
}

.wishlistProducts:empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  color: grey;
}

label { 
  padding-left: 10px;
  padding-right: 5px;
}