.header {
  background-color: #550000;
  color: #f9f3ed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.logo img {
  height: 60px;
  width: auto;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
}

.menu li:hover {
  text-decoration: underline;
}
