.header {
  background-color: #F8F9FA;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 50;
  border-bottom: 3px solid #9C102D;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.header li {
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s;
}

.header li:hover {
  opacity: 0.7; 
}

.logoList {
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 30px; 
  width: auto;
}

.logo img {
  height: 60px;
  width: auto;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
}

.menu li:hover {
  text-decoration: underline;
}